@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 transition: all linear .4s;
 text-decoration: none;
 
}
html{
 font-size: 53.5%;
 z-index: 1000;
 }
 body{
   position:absolute;
   padding: 2rem 9%;
  background: linear-gradient(180deg, #F6FAFD 0%, #FFFFFF 19.4%); 
  }
  header{
    position: fixed;
   height: 6rem;
   top: 0;
   left: 0;
   right: 0;
   display: flex;
   z-index: 1000;
   align-items: center;
   justify-content: space-between;
   font-family:'Poppins', sans-serif;
   padding: 4rem 12%;
   margin-bottom: 5rem;
   }
  header .logo{
   
   padding: 1rem 1%;
  }
  /* header .logo img{
   height: 2.3rem;
   width: 2.3rem
  } */
  header .navbar{
  position: relative;
  right: 13rem;
  }
  header .navbar a{
    font-weight:600;
   font-size: 1.6rem;
   margin: 1rem;
   color: #4B5D68;
   transition: all .3s ease-in;
  }
  header .navbar a:hover{
   color: #212353;;
  }
  header .navbar a:active{
   color: #212353;;
  }
  header .Request-btn{
   display: flex;
   padding:1rem 7%;
   background: #FFFFFF;
   box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    font-size: 1.3rem;
    font-weight: 500;
    display: inline-block;
    padding: .8rem 3rem;
    cursor: pointer;
    color: #000;
    border-radius: 12rem;
  
  
  }
  header .Request-btn i{
    font-size: 1.7rem;
    position: relative;
    left: .6rem;
    top: .5rem;
    color: #9C69E2;
    font-weight: 100;
  }
  header #menu-btn{
    cursor: pointer;
    border: .1rem groove #fcfaf0;
    border-radius: .3rem;
    padding: 1rem;
    display: none;
    color: #9C69E2;
    font-size: 2rem;
  
}
 .about{

   padding: 2rem 9%;
  margin-bottom:3rem ;
 display: flex;
 flex-wrap: wrap;
 gap: 1.5rem;
 min-height: 100vh;
 align-items: center;
}

.about .content{
 flex: 1 1 35rem;
}
.about .content h3{
  position: relative;
  width: 645px;
height: 184px;
color: #212353;
font-family: 'Helvetica';
font-style: normal;
font-weight: 600;
font-size: 8rem;
line-height: 110%;
display: flex;
align-items: center;

}
.about .content p{
  position: relative;
width: 380px;
height: 120px;
color: #4B5D68;;
font-family:'Poppins', sans-serif;
font-weight: 500;
font-size: 18px;
line-height: 160%;
margin-top: 1rem;

}

 .about .image{
 flex: 1 1 50rem;
}

.about .image img{
 position: relative;
height: 80%;
width: 80%;
left: 38rem;
bottom: 19rem;

} 
.about .btn{
  top: 2rem;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  position: relative;
  background: #9C69E2;
  border-radius: 50px;
  padding: 1.3rem;
  color: #fff;
}
.sect{
  justify-content: center;
  /* width: 105rem; */
/* height: 350px; */
/* left: 6rem; */
  position: relative;
  /* padding: 2rem 19%; */
   background: rgba(240, 99, 184, 0.15);
   /* top: 4rem; */
   margin-bottom:3rem ;
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  align-items: center;
  border-radius:50px;
}
.sect .img{
  flex: 1 1 30rem;
}
.sect .img img{
  bottom: 2rem;
position: relative;
left: 4rem;
  height: 90%;
  width: 90%;
}
.sect .context{
  flex: 1 1 35rem
}
.sect .context h4{
  position: relative;
  bottom: 5rem;
  font-family: 'Helvetica';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 130%;

display: flex;
align-items: center;

color: #212353;

}
.sect .context p{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 2rem;
  line-height: 160%;
  color: #4B5D68;
}
.features .heading{
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
   color: #212353;
  text-align: center;
  padding: 2rem;
  font-size: 3rem;
  position: relative;
  top: 24rem;
  }
  .features .sub-heading{
  
   position: relative;
  width: 584px;
  height: 58px;
  justify-content: center;
  align-items: center;
  top: 25rem;
  left: 25rem;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 160%;
  text-align: center;
  
  color: #4B5D68;
  }
  .features .box-container{
    overflow: visible;
    align-items:center ;
    right:5rem ;
    top: 34rem;
    position: relative;
    display:flex;
    flex-wrap: wrap;
    gap: 3rem;
     ;
    }
    .features .box-container .box{
      overflow: visible;
      display: flex;
      flex: 1 1 45rem;
      cursor: pointer;
      
    }
    .features .box-container .box .images{
      display: flex;
    }
    .features .box-container .box .images .img-1{
      position: relative;
      top: 5rem;
      left: 10rem;
      height: 50%;
      width: 30%;
    }
    .features .box-container .box .images .img-2{
      height: 80%;
      width: 67%;
    }
  .features .box-container .box .content
  {
    position: relative;
    top:2rem;
    right: 19rem;
   justify-content: flex-end;
  
  }
    
   .features .box-container .box .content h5{
      margin-top: 2.5rem;
      font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 2rem;
  display: flex;
  align-items: center;
  
  color: #212353;
    }
    .features .box-container .box .content h4{
      margin-top: 1rem;
      font-family:'Poppins', sans-serif ;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.2rem;
  color: #4B5D68;
  width: 90px;
    }
    .features .box-container .box .content .learn{
      display: flex;
    }
    .features .box-container .box .content h6{
      margin-top: 2rem;
      font-size: 1rem;
    }
    .features .box-container .box .content h6 i{
      font-size: 1rem;
      color: #9C69E2;
      display: flex-end;
  
    }
    .sect-2{
      justify-content: center;
      width: 105rem;
    height: 350px;
    left: 5rem;
      position: relative;
      /* padding: 2rem 19%; */
     background:  #9C69E2;
       top: 49rem;
       margin-bottom:3rem ;
      flex-wrap: wrap;
      min-height: 100vh;
      align-items: center;
      border-radius:50px;
    }
    .sect-2 .heading{
      font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size:2rem;
  line-height: 130%;
  position: relative;
  top: 9rem;
  left: 13rem;
  
  
  color: #FFFFFF;
    }
    .sect-2 .box-container{
      position: relative;
      left: 25rem;
      top: 16rem;
    align-items:center ;
    display:flex;
    flex-wrap: wrap;
    gap: 3rem;
    }
    .sect-2 .box-container .card{
      height: 26rem;
      padding: 2rem 5%;
  border-radius: 12px;
      display: flex;
      flex: 1 1 15rem;
      background: #F6FAFD;
      box-shadow: 0px 20px 0px rgba(156, 105, 226, 0.3);
      border: .2rem solid #6a01fd ;
    }
    .sect-2 .box-container .card img{
      height: 50%;
      width: 50%;
      position: relative;
      top: 3rem;
    }
    .sect-2 .box-container .card .content 
    {
      position: relative;
      top: 2rem;
      left: 2rem;
      padding: 1rem;
    }
    .sect-2 .box-container .card .content h3{
      font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 120%;
  
  align-items: center;
  letter-spacing: 0.005em;
  
  
  
  color: #212353;
    }
    .sect-2 .box-container .card .content h6{
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: .8rem;
      line-height: 130%;
  
      align-items: center;
      letter-spacing: 0.01em;
    
      
      color: #9C69E2;
    }
    .sect-2 .box-container .card .content p{
      font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 110%;
  color: #4B5D68;
    }
    .sect-2 .Slider{
      position: relative;
      display: flex;
     left: 7.5rem;
      top: 23rem;
      justify-content: flex-start;
    }
    .sect-2 .Slider img{
     width: 3rem;
      padding: 1rem;
    }
    .sect-2 .arrow{
      display: flex;
      position: relative;
      justify-content: flex-end;
      top:18rem;
      right:6rem
  
    }
    .sect-2 .arrow i{
      font-size: 2rem;
      padding: 1rem;
    }
    .sect-2 .arrow #one{
      color: #FFFFFF;
      border: 2px solid #FFFFFF
      
    }
    .sect-2 .arrow #two{
      font-weight: 400;
      
      color: rgba(255, 255, 255, 0.473);
    }
    .footer{
      padding: 2rem 9%;
      border-top: .9px solid #9C69E2;
      position: relative;
      top: 62rem;
    }
    .footer h2{
      font-family: 'Helvetica';
      font-style: normal;
      font-weight: 700;
      font-size: 5rem;
      line-height: 130%;
      
      display: flex;
      align-items: center;
      
      color: #212353;
    }
    .footer .buttons{
      position: relative;
      bottom: 4rem;
      display: flex;
      justify-content: flex-end;
  
    }
    .footer .buttons .Request-btn{
      display: flex;
      background: #FFFFFF;
      box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
       font-size: 1.3rem;
       font-weight: 500;
       display: inline-block;
       padding: .8rem 3rem;
       cursor: pointer;
       color: #000;
       border-radius: 12rem;
     
    }
    .footer .buttons .Request-btn i{
  
      font-size: 1.7rem;
      position: relative;
      left: .6rem;
      top: .5rem;
      color: #9C69E2;
      font-weight: 100;
    }
    .footer .buttons .btns{
      
      font-family: 'Poppins', sans-serif;
      font-size: 1.5rem;
      right: 2rem;
      position: relative;
    background: #F063B8;
      border-radius: 50px;
      padding: 1.3rem;
      color: #fff;
    }
    .footer h6{
      position: relative;
     bottom: 1rem;
      font-family:'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 80%;
  color: #4B5D68;
    }
    .footer .nav{
      display: flex;
      justify-content: space-between;
      padding-top:2rem ;
    }
    .footer .nav-1{
      font-family:'Poppins', sans-serif;
      display: flex;
      justify-content: space-between;
      padding-top:2rem ;
      font-size: 1.5rem;
    }
    .footer .nav-1 a{
      font-size: 1.4rem;
      color: #4B5D68;
    }
    .footer .nav a{
      color: #212353;
      font-size: 1.4rem;
      font-family:'Poppins', sans-serif;
      font-weight: 700;

    }
    .footer .links{
      display: flex;
      justify-content: space-between;
    }
    .footer .links .link{
      justify-content: space-between;
      display:flex;
      font-size: 1rem;
      font-weight: 500;
      color: #212353;

    }
    .footer .nav-1 .social{
      padding: 1rem;
    }
    .footer .nav-1 .social i{
      background: #c2c2c2;
      font-size: 2rem;
      padding: 1rem;
      color: #fff;
      border-radius: 50%;
    }
    .footer .segment{
      display: flex;
      justify-content: space-between;
      font-size: 1rem;
      margin-top: 6rem;
    }
  .footer .segment i{
    color: #6a01fd;
    background: #9C69E2;
    border-radius: 50%;
    padding: 1.2rem;
  }

@media screen and (max-width:1000px) {
 html{
   font-size: 45%;
 }
 header{
   padding: 2rem;
   height: 9rem;
 }
 header .logo{
   display: flex;
   
 }
 header .logo img{
   padding: .4rem;
 }
 header .logo .img-1{
   position: relative;
   height: 50%;
   width: 100%;
   top: 2rem;
 }
 .sect-2 .Slider{
  position: relative;
  display: flex;
 left: 7.5rem;
  top: 6rem;
  justify-content: flex-start;
}
.sect-2 .Slider img{
 width: 3rem;
  padding: 1rem;
}
.sect-2 .arrow{
  display: flex;
  position: relative;
  justify-content: flex-end;
  top:8rem;
  right:6rem

}
.sect-2{
  height: 120rem;
}
.sect-2 .box-container{
  top: 2rem;
}
}

 
 
 
@media screen and (max-width:990px){
  header #menu-btn{
    display: initial;
  }
 
  header .navbar{
    width: 100%;
      height: 300%;
      position: absolute;
      top: 80%;
      left: 0;
      right: 0;
      background: #fc00ff;  
     background: #9C69E2;
      border-top: .1rem solid rgba(0, 0, 0, 0.1) ;
      clip-path: polygon(0 0,100% 0,100% 0, 100% 0,0 0);
      transition: .5s ease;
  
  
  }
  
  header .navbar.active{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  header .navbar a{
    font-size: 1.4rem;
     color: #fc73b7;
      margin: 1rem;
      padding: 1rem;
      display: block;
     text-align: center;
      border-left: 1rem solid #fff;
      background: white;
      transition: .4s ease-in;
      border-radius: .4rem;
  }
  header .navbar a:hover{
      background:#ed89e7;
      color: #fff;
      border-left: .5rem solid #faf1fc;
   
  
  }

 
  .about{
    padding: 1rem;
  }

  .about .image img{
    top: 3rem;
    left: 0;
    height: 100%;
    width: 100%;
    align-items: center;
    } 
  .about .content h3{
    width: 800px;
    
  }
  .about .content p{
    width: 800px;
  }
  .sect{
    padding: 1rem;
    min-height: 100vh;
    top: 40rem;
    /* height: 280px; */
  }
  .features .heading{
    justify-content: center;
    align-items: center;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
     color: #212353;
    text-align: center;
    padding: 2rem 9%;
    font-size: 3rem;
    position: relative;
    top: 41rem;
}
.features .sub-heading{
  top:45rem ;
  left: 7rem;
  width: 700px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.features .box-container{
  top: 50rem;
}
.features .box-container .box .images .content h4{
  width: 80px;
}
.sect-2{
  justify-content: center;

left: 5rem;
  position: relative;
  /* padding: 2rem 19%; */
 background:  #9C69E2;
   top: 60rem;
   margin-bottom:3rem ;
  flex-wrap: wrap;
  min-height: 100vh;
  align-items: center;
  border-radius:50px;
}
.sect-2 .heading{
  font-family: 'Helvetica';
font-style: normal;
font-weight: 700;
font-size:2rem;
line-height: 130%;
position: relative;
top: 9rem;
left: 13rem;


color: #FFFFFF;
}
.sect-2 .box-container{
  position: relative;
  left: 25rem;
  top: 16rem;
align-items:center ;
display:flex;
flex-wrap: wrap;
gap: 3rem;
}
.sect-2 .box-container .card{
  height: 26rem;
  padding: 2rem 5%;
border-radius: 12px;
  display: flex;
  flex: 1 1 15rem;
  background: #F6FAFD;
  box-shadow: 0px 20px 0px rgba(156, 105, 226, 0.3);
  border: .2rem solid #6a01fd ;
}
.sect-2 .box-container .card img{
  height: 50%;
  width: 50%;
  position: relative;
  top: 3rem;
}
.sect-2 .box-container .card .content 
{
  position: relative;
  top: 1rem;
  left: 2rem;
  padding: 1rem;
}
.sect-2 .box-container .card .content h3{
  font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 900;
font-size: 18px;
line-height: 130%;

align-items: center;
letter-spacing: 0.005em;



color: #212353;
}
.sect-2 .box-container .card .content h6{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: .8rem;
  line-height: 160%;

  align-items: center;
  letter-spacing: 0.01em;

  
  color: #9C69E2;
}
.sect-2 .box-container .card .content p{
  font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 120%;
color: #4B5D68;
font-size: .9rem;
}
.sect-2 .Slider{
  position: relative;
  display: flex;
 left: 7.5rem;
  top: 23rem;
  justify-content: flex-start;
}
.sect-2 .Slider img{
 width: 3rem;
  padding: 1rem;
}
.sect-2 .arrow{
  display: flex;
  position: relative;
  justify-content: flex-end;
  top:18rem;
  right:6rem

}
.sect-2 .arrow i{
  font-size: 2rem;
  padding: 1rem;
}
.sect-2 .arrow #one{
  color: #FFFFFF;
  border: 2px solid #FFFFFF
  
}
.sect-2 .arrow #two{
  font-weight: 400;
  
  color: rgba(255, 255, 255, 0.473);
}
}
   /* @media screen and (max-width:860px){
    .about .content h3{
      width:650px;
      
    }
    .about .content p{
      bottom: 3rem;
      width: 600px;
    }
    .about .content .btn{
      bottom: 4rem;
    } */
    /* .sect{
      top: 40rem;
      height: 180px;
      width: 600px;
      left: 5rem;
    }
    .sect .img img{
      height: 80%;
      width: 80%;
      left: 20rem;

    }
    .sect .context h4{
      position: relative;
      bottom: 5rem;
      font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 100%;
    
    display: flex;
    align-items: center;
    
    color: #212353;
    
    }
    .sect .context p{
      
      font-size: 1.5rem;
      line-height: 160%;
     } */

.sect-2 .box-container .card .content h6{
  width: 80px;
}


@media screen and (max-width:690px){

 html{
   font-size: 39%;
 }
 header .navbar{
  right: 6rem;
}
 .about .image img{
   height: 80%;
   width: 80%;
   top:-7rem; 
 right:6rem; 
} 
.about .content h3{
width:500px;

}
.about .content p{
bottom: 3rem;
width: 500px;
}
.about .content .btn{
bottom: 4rem;
}
.sect{
  top: 40rem;
  /* height: 120px; */
  width: 450px;
  left: 5rem;
}
.sect .img img{
  left: 0;
}

.sect .context{
  position: relative;
  right: 2rem;
}
.features .heading{
  justify-content: center;
  align-items: center;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
   color: #212353;
  text-align: center;
  padding: 2rem 9%;
  font-size: 3rem;
  position: relative;
  top: 41rem;
}
.features .sub-heading{
top:45rem ;
left: 7rem;
width: 400px;
height: 100px;
text-align: center;
justify-content: center;
align-items: center;
}
.features .box-container{
top: 50rem;
}
.features .box-container .box .images .img-1{
  top: 8rem;
  left: 18rem;
  height: 30%;
  width: 30%;
}
.features .box-container .box .images .content h5{
  line-height:160%;
}
.features .box-container .box .images .content h4{
width: 80px;
font-size: 1rem;
}
.sect-2{
  width: 78rem;
}
.sect-2 .box-container{
  left: 15rem;
}
.sect-2 .box-container .card img{
  height: 30%;
  width: 30%;
  position: relative;
  top: 2rem;
}
.sect-2 .box-container .content{
  left: 1rem;
  top: 1rem;
}
.sect-2 .box-container .card .content h3{
  top: 1rem;
  font-size: 1rem;
}
.sect-2 .box-container .card .content h6{
  width: 70px;
}
.footer h2{
  font-size: 2rem;
}
.footer .buttons .btns{
      
  font-family: 'Cormorant Garamond', serif;
  font-size: 1rem;
  right: 0;
}
}
@media screen and (max-width:480px){
  html{
    font-size: 29%;
  }
  
  .about .image img{
    height: 70%;
    width: 70%;
    left: 5rem;
    top: -7rem;
  } 
  .about .content h3{
  width:300px;
  
  }
  .about .content p{
  bottom: 3rem;
  width: 300px;
  }
   .about .content .btn{
  top:12rem;
  } 
  .sect{
    border-radius: 2rem;
padding: .9rem;
    top: 20rem;
    /* height: 100px; */
    width: 380px;
    left: 3rem;
  }

  .sect .context{
    position: relative;
    right: 2rem;
  }
  .sect .img img{
    height: 70%;
    width: 70%;
  }
  .sect-2{
    height: 120px;
  }
}
